[2016-08-08 20:50] jacek99 opened #1 "Failing tests"
Just cloned the repo on Fedora 24 (with Maven 3.3.9) and I got JUnit test failures when running

[code]

Details:

[code]

[2016-08-09 07:10] avsej commented on #1
@jacek99 what is the version of the server you are using?

[2016-08-09 09:13] #1 closed, assigned to nobody

[2016-08-09 14:23] jacek99 commented on #1
I am on 4.5, the latest version from your site, installed it via RPM a week ago

[2016-08-09 14:30] avsej commented on #1
turns out that it was outdated test, thank you for reporting

[2016-08-09 14:33] jacek99 commented on #1
Confirmed. Did a git pull, built fine.

Thank you for the quick fix, much appreciated.

[2016-08-09 15:00] jacek99 opened #2 "Question: RxJava API"
Sorry for opening an issue to ask a question, but are there any plans to add an RxJava API, to be consistent with the rest of the Java SDK?

Would probably make it also easier to consume the stream of events as they are coming in,

Thank you

[2016-08-09 15:08] avsej commented on #2
For the first iteration, we want to bring less abstractions, and consume everything as fast as possible. But eventually it might be added.

[2016-08-09 15:10] jacek99 commented on #2
Understood. We will try to integrate with the current API then,

Is there an ETA as to when it will start getting pushed to Maven Central so that we can consume it more easily as a dependency?

Thank you

[2016-08-09 19:23] jacek99 commented on #2
Also, is there a limit to how many DCP clients one can have per cluster?
Would 50 be still acceptable listening to ALL vbuckets across a 3-node cluster?

[2016-08-16 08:48] daschl commented on #2
@jacek99 wow you are an early adopter! :)

once the rebalance works and you can consume/resume from a session state we'll certainly release a 0.1 release (which we'd consider the MVP I think).

I don't want to expose too much RxJava APIs right now and keep it low level, also for the reason its very easy to create an observable from the callback (you can use a subject for example). Let me know if y

[2016-08-16 11:22] daschl commented on #2
So for example you could use this simplified mechanism here, of course you need more orchestration for advanced use cases :)

[code]

[2016-08-16 13:16] daschl commented on #2
I'll close this one out for now since we're not in the near term planning to add it to the main interfaces, but as you can see above its very easy to do so. Feel free to open new issues if you run into specific things - and thanks much for testing!

[2016-08-16 13:16] #2 closed, assigned to nobody

[2016-09-08 10:34] belaazim opened #3 "Some questions : session State / Message Filter"
Hi,
Some questions :
1. Is there a way to check if a DCP MutationMessage is a creation message or an update message ?
2. How to initialize the session state to stream from from last session disconnect ?

Example,
run connection - stop connection - < Some Updates On COUCHBASE Done > - restart connection

I need to just get < Some Updates On COUCHBASE Done > between the stop and the restart.
Not to

[2016-09-08 12:32] belaazim opened #4 "DCP mutation message : detect which specific field has changed"
Hi,
is there a way with your DCP client to filter DCP mutation message content (json content) on a specific field change ?

[2016-09-08 13:21] belaazim opened #5 "dcp client plan"
Hi,
When are you planning to include these features:
1. Export current session state for durability
2. Start from specific session state (import durable state)
   ?

[2016-09-08 13:55] daschl commented on #5
@belaazim I added it today, right now with simple JSON byte[] import and export. I didn't have time yet to come up with examples but at every point in time you can call `byte[] state = client.sessionState().toJson();`  and persist it.. and when the app starts you take the byte[] and instead of initFrom\* you call initFromJson() with it and then start streaming.

[2016-09-08 13:56] daschl commented on #4
DCP doesn't support this functionality on the server side right now, so you will have to take the mutation and then compare it with what you have.

[2016-09-08 14:34] belaazim commented on #5
I didn't find an implementation of initFromJson() ?

[2016-09-08 14:48] daschl commented on #5
woops, I didn't commit it yet.. I'll do asap, maybe check back tomorrow :)

[2016-09-08 14:48] #4 closed, assigned to nobody

[2016-09-08 14:49] daschl commented on #3
wrt to 1) I checked with our Server engineers and this is not possible with DCP at the Moment, so you Need to handle this in your Code for now. What is your use case?

on 2) once I have the new stuff committed it should work quite easy - I'll see if I can add an example as well.

[2016-09-08 14:50] daschl commented on #3
I'll Close this one since for 2) is tracked in #5 , lets discuss there.

[2016-09-08 14:50] #3 closed, assigned to nobody

[2016-09-09 05:06] daschl commented on #5
committed the changes right now, you can find the `initFromJson` on the client.

[2016-09-09 07:56] belaazim commented on #5
Thanks for quick commit.
I stored the state as you explained. Then stop connecting to dcp client.
I do some modification on my couchBase documents.
I connect again, but this time I restored the state. and I launch the client.initFromJson(state);
The modification between the stop and the reconnect using (restore state) was not detected.
More then, If I do any change on couchbase documents this was

[2016-09-09 08:00] daschl commented on #5
can you please share your code so I can reproduce it?

[2016-09-09 08:06] belaazim commented on #5
I'm using the same code you are describing in readme.

## 1. DCP Client load data from begining and Store State

client.connect().await();
// Initialize the session state to stream from 0 to infinity
client.initFromBeginningToNoEnd().await();
// Start streaming on all partitions
client.startStreams().await();
// Wait for 1 min
long endTime = System.nanoTime() + TimeUnit.NANOSECONDS.convert(1L, Tim

[2016-09-09 09:28] belaazim commented on #5
I find my error
I must use client.initFromJson(state).await();
instead of
client.initFromJson(state);
It works fine ! thanks a lot :)

[2016-09-09 09:30] daschl commented on #5
awesome!! :) can we close this one then?

[2016-09-09 09:37] #5 closed, assigned to nobody

[2016-09-09 13:28] belaazim opened #6 "Strange behavior with restore state"
Hi
I connect to CouchBse using DCP client. I save the session state.
I disconnect.
I do some update (change of a document's content) on couchbase documents.
I restart with init from Json.
The changes between the stop and the reconnection was not recovered.
Any idea about this ?
Note: If the change is about adding a new document from scratch. it is recovered.

[2016-09-09 18:10] daschl commented on #6
@belaazim can you provide an example? btw be aware I'm releasing 0.2.0 today which has slightly different API. check out the examples in the test directory, I also added more javadocs to the client.

[2016-09-09 19:24] daschl commented on #6
here is an example https://github.com/couchbaselabs/java-dcp-client/blob/master/src/test/java/examples/StatePersistence.java

[2016-09-13 12:48] igreenfield opened #7 "please add state export to String not only to byte[]"
if I want to save the state in some other persistent it will help

[2016-09-14 08:19] belaazim commented on #6
@daschl thanks for your support.
I'm trying today to test the StatePersistence example.
I'm getting this exception:
Exception in thread "main" java.lang.NoSuchMethodError: com.couchbase.client.core.config.CouchbaseBucketConfig.nodeIndexForMaster(IZ)S
com.fis.integ.core.publisher.sol2.StatePersistence.main(StatePersistence.java:71)
Have you please any idea about this ?

[2016-09-14 09:27] daschl commented on #7
@igreenfield I intentionally chose byte[] since it allows us in the future to also export to efficient binary representations. If you use the JSON export, feel free to use new String(bytes, "UTF-8");

[2016-09-14 09:28] daschl commented on #6
@belaazim is your current problem solved with 0.2 and the example?

[2016-09-14 09:31] igreenfield commented on #7
but why not to add another option?

[2016-09-14 09:35] daschl commented on #7
can you describe why you need it as a string instead of a byte array?

[2016-09-14 09:37] igreenfield commented on #7
I want to save it in the DB.... and for debugging it mach easy if it stored as String

[2016-09-14 09:40] daschl commented on #7
well, technically a string is a byte[] is just the encoded representation - so when you write it to the database it needs to turn the string back into a byte[] eventually, right?

I get the point that you are looking for something easier, but I don't think a `exportAsString(StateFormat)` buys you much more than a `new String(export(..), "UTF-8")`. Also if we add a String API we need to add more lo

[2016-09-14 09:42] igreenfield commented on #7
you are using Jackson for the serialization so it can return string instead of byte[]

[2016-09-14 09:42] belaazim commented on #6
@daschl Thanks for your help.
I'm testing today your new commit using the State Pesistence example.
I tested it with a small data bucket (6 documents) : it works like a charm.
But with a bigger data bucket (450 documents). when I stop the session and I do some modifications on some documents and I reconnect with persissted session it doesn't recover the updates (between stop and restart) more then

[2016-09-14 09:46] daschl commented on #7
Okay, maybe I didn't get my point across :) I want to keep this APIs generic over the way we serialize and unserialize the state so in the future we can add more representations. Right now its only JSON so you are right, but if we add a binary format then exporting it as a string makes no sense at all. Since this is such a low level library I want to keep it as lean as possible, and this includes

[2016-09-14 09:52] igreenfield commented on #7
Even if the state will be binary you always could represent is as string (base64 for sample).

so you can add `StateFormat.JSON_String,  StateFormat.JSON_BYTE` and so on...
and in the deserialization also use this to know how to do it.

for now I can do that but the API is very UGLY this way...

[2016-09-14 10:10] belaazim commented on #6
A scenario that causes problem (on both small and big data bucket):
1. start session
2. save session
3. create new docment (that has been recently removed)!!
4. restart session
5.  => not stable behavior
Could you reproduce it ?
I'm pretty sure that once we add a document which was not added from the beginning  ; the changes to this document are not stored or detected ... to check maybe from your

[2016-09-14 10:28] daschl commented on #7
Okay, I don't agree with your assessment that the API is ugly. Also, many other projects that we are currently working on (kafka, spark, internal stuff,...) are fine using the API as is and we didn't find problems (they don't attempt to convert it to a string but rather treat is as a black box. If you want to log its just one constructor of String away).

For now I don't think we'll add it, if the

[2016-09-14 10:28] #7 closed, assigned to nobody

[2016-09-14 10:31] daschl commented on #6
Okay I'll try to reproduce this case. What should happen in theory is that it is on the sequence number from before the mutation so DCP will stream it after the fact.

Are you against localhost or a multi node cluster?

[2016-09-14 10:34] belaazim commented on #6
against localhost (one node cluster)

[2016-09-14 10:39] daschl commented on #6
Okay cool do you by chance have code to reproduce? If not I'll try to come up with something similar.

[2016-09-14 10:43] belaazim commented on #6
For code I'm using StatePersistence.java :)

[2016-09-14 11:06] daschl commented on #6
@belaazim I just tried out a slightly changed version of state persistence (https://gist.github.com/daschl/e00689955e2b34f80e511b512929d0dc), the only change being that after 10 times persisting it stops. I have the workload generator running in paralell, storing a doc every second. so after the code exists and I start again it automatically starts from where it was last persisted.

If this is not

[2016-09-14 13:12] belaazim commented on #6
Your session is stoped. You have a json *\* file persisting your session.
Ok now please follow these steps.
Add a new document (key-1) in your data bucket.
change a field in this new document (key-1) .
Choose an other old document and update it.
Now restart your session which will recover state from**.
You won't get changes of document (key-1) these changes are missing :(
could you please try this

[2016-09-15 11:46] daschl commented on #6
Okay so I tried that and I think I saw the correct behavior, but there is a subtle thing to it, maybe you ran into this: the server performs deduplication so you are not seeing all changes. So for example I stopped the state.

Then I created a document with

[code]

after save I changed it to

[code]

and as soon as I restarted the stream I only saw:

[code]

So no sign of the intermediate represe

[2016-09-15 12:37] igreenfield opened #8 "How to change state after startStreaming"
If I have client that is already streaming can I change it's state?

[2016-09-15 15:20] belaazim commented on #6
Not Able to define exactly the scenario causing this behavior.
Sometimes I get latest mutation sometimes no changes detected.

If the added document was recently deleted, the random behavior is reproduced.
This scenario:
1. delete the doc with **new-doc**
2. create the doc with **new-doc** and keep the same content
3. update the doc **new-doc**

restart the session => the latest mutation is no mor

[2016-09-19 10:25] daschl commented on #8
yeah so in theory the state always changes as mutations come in, but I would expect it become kind of hairy depending on what you want to do. What is your use case?

What is a little safer is you can always stop streams, alter the state (lets say to a backup persisted) and then start the streams again, this should pick up where you left off.

[2016-09-19 10:44] igreenfield commented on #8
the second option is good for me... how I can stop the streaming?

[2016-09-19 10:45] daschl commented on #8
the client has "stopStreaming" methods, like "startStreaming". You can do it for all of them (no arg) or just a subset of the partitions (provide the vararg list of partition indexes)

[2016-09-19 10:50] igreenfield commented on #8
is it safe to call connect multiple times?

[2016-09-19 10:56] daschl commented on #8
hm, currently there are no test for that situation, I'd say in the future we should aim for it to be safe but right now I don't think so.

[2016-09-19 10:57] igreenfield commented on #8
ok thanks

[2016-09-19 10:59] igreenfield commented on #8
can I know if the client is connected?

[2016-09-19 11:03] daschl commented on #8
I created a ticket for the multiple connect attempts: https://issues.couchbase.com/browse/JDCP-12

hmm right now we do not expose a method to check if "is connected", since its not clear what it means in the first place. I can expose something like that on the API, can you give me a use case what you are trying to do?

[2016-09-19 11:06] igreenfield commented on #8
1. if multi connect is safe so no need to check if connected.
2. I try to resync to current location: I have 2 servers that sync one is master and the other is salve and if the master failed the slave should continue from the last check point the master left on the DB.

[2016-09-19 12:01] daschl commented on #8
so both master and slave are streaming in parallel? Wouldn't you just start the stream on the slave when the master fails?

[2016-09-19 12:38] igreenfield commented on #8
each node save cache of data for using so if I start only on failure the slave won't have the cache....

[2016-09-19 12:46] daschl commented on #8
Okay in this case the strategy we discussed makes sense. Only beware that if your slave is ahead of the master then you need to implement some app-level rollback, unless you prohibit that with some kind of coordination mechanism between the master and slaves.

[2016-09-19 13:05] igreenfield commented on #8
OK thanks!!!

[2016-09-19 13:05] #8 closed, assigned to nobody

[2016-09-19 14:10] daschl commented on #8
cool, let me know if you run into issues with it

[2016-09-20 07:01] daschl commented on #6
hm I tried the exact same scenario, and in my case the only thing reported is the latest mutation, I don't see the delete or the recreation as mutations.

[2016-09-20 07:02] daschl commented on #6
@belaazim I think at this point do you think there is a way you can record a screen demo or provide some code where you can reproduce this? You can include the java-client too in the code so that it runs the mutations in parallel, I can show you how to do this if you need assistance.

[2016-09-20 08:40] belaazim opened #9 "How to stop streaming with State <StreamFrom.BEGINNING,StreamTo.NOW>"
Hi,
I configured my client as follow : client.initializeState(StreamFrom.BEGINNING, StreamTo.NOW).await();
I need to stop streaming and disconnect the client once the streaming is no more available [ended by StreamTo.NOW ].
Any Idea about this ?

[2016-09-20 09:38] belaazim commented on #9
I find it.

int count = 0 ;
        while ( count < 1024){
            count = 0;
            for(short i=0; i<1024; i++){
                if ( ! client.streamIsOpen(i) ){
                    count ++;
                }
            }
        }
        client.stopStreaming().await();
        client.disconnect();
Is it ok ? or is there any risk with this method ?
May be this could be implemented in

[2016-09-20 09:39] belaazim commented on #6
@daschl :
Thanks for your help !
 I'll try to do it before the end of this week. maybe I'll need your assistance.

[2016-09-20 09:43] daschl commented on #6
sure, let me know where I can help.. I might kick out a 0.3 release in the meantime but if we find a bug we can fix it for the next release.

[2016-09-20 10:00] daschl commented on #9
This example shows how :) https://github.com/couchbaselabs/java-dcp-client/blob/master/src/test/java/examples/AirportsInFrance.java#L80

[2016-09-20 10:19] belaazim commented on #9
+1
thanks @daschl :)

[2016-09-20 10:21] #9 closed, assigned to nobody

[2016-09-21 07:48] belaazim opened #10 "Load data from Now to Infinity"
Hi,
I'm running this example https://github.com/couchbaselabs/java-dcp-client/blob/master/src/test/java/examples/PrintIncomingChanges.java

But I'm not getting the updtaes/changes triggered once my session is connected.

@daschl : could you please check this example ?
Thanks in advance.

[2016-09-21 08:46] belaazim commented on #10
me again.
have you please any idea about which documents that their changes won't be detected by DCP ? I'm facing a strange behavior that I can't explain.
DCP is triggerring all update changes but for some documents on my data bucket this was not the case.

[2016-09-21 08:50] daschl commented on #10
hmm I just stumbled across an issue as well where mutations are not printed.. can you do me a favour and try if the mutations are printed if you Start from BEGINNING instead of NOW/recover state?

[2016-09-21 09:09] belaazim commented on #10
1. YES mutations are printed if you Start from BEGINNING instead of NOW (I just checked it)
2. For the case : Load data from Now to Infinity
   with which end sequence number do you request the stream?

[2016-09-21 09:11] daschl commented on #10
for Infinitiy the end seqno is basically "-1", meaning no end.

[2016-09-21 11:47] daschl commented on #10
@belaazim it could be you are running into a problem with rollbacks. Can you try the latest master version and check your log for warnings on rollback AND/OR set a breakpoint in the control handler if an event gets received?

[2016-09-21 11:48] daschl commented on #10
if this is the case, here is an example on how to handle it (does not work on 0.2, needs master) https://github.com/couchbaselabs/java-dcp-client/blob/master/src/test/java/examples/PrintIncomingChanges.java#L59

[2016-09-21 12:44] belaazim commented on #10
Good, with latest version with handling rollbacks, I received events for the changes for the previous documents.
But on starting session I'm getting all changes from begining Not from **Now**.
Could you please check ?

[2016-09-21 12:49] daschl commented on #10
are you sure you get them from beginning and not at the rollback point? to which seqno did the server tell you to rollback to? 0?

[2016-09-21 12:58] belaazim commented on #10
Probably you are right.
To confirm this is my log:

13:52:41.364 [main] INFO  com.couchbase.client.dcp.Client - Starting to Stream for 1024 partitions
13:52:41.817 [nioEventLoopGroup-2-2] WARN  com.couchbase.client.dcp.Client - Received rollback for vbucket 48 to seqno 0
13:52:41.817 [nioEventLoopGroup-2-2] INFO  com.couchbase.client.dcp.Client - Stopping to Stream for 1 partitions
13:52:41.823 [n

[2016-09-21 13:00] daschl commented on #10
yeah it needs to roll back those partitions since it doesn't have the specified seqnos anymore for some reason.

[2016-09-21 13:03] belaazim commented on #10
so is there a way to force it to start from **Now** not from **rollback point** ?

[2016-09-21 13:04] daschl commented on #10
I'm not sure why it is happening actually, can you send me a full debug log of the output? My email addy is firstname.lastname@couchbase.com

[2016-09-21 14:09] belaazim commented on #10
in my previous message I sent you the full log printed to console.
is there another log produced by the DCP Client ?

[2016-09-21 14:21] daschl commented on #10
yes, can you set the log level to DEBUG and then rerun?

[2016-09-21 15:29] belaazim commented on #10
[dcpClient.txt](https://github.com/couchbaselabs/java-dcp-client/files/485404/dcpClient.txt)

[2016-09-22 11:51] daschl commented on #10
@belaazim 0.3.0 released, just FYI

[2016-09-22 11:52] daschl commented on #8
@igreenfield 0.3.0 released, just FYI

[2016-09-23 07:59] belaazim commented on #10
@daschl  thanks for the notification :)
did this version fixed the problem reported ?

[2016-09-23 08:01] daschl commented on #10
I'm not sure, but upgrading brings other benefits and if there is something to fix anyways I'll do it on master

[2016-09-23 08:01] daschl commented on #10
Note that I'll only get back to DCP next week due to other work, but I'll let you know as soon as I find anything useful

[2016-09-23 08:39] belaazim commented on #10
ok thanks

[2016-09-23 17:24] belaazim opened #11 "How to check if dcp client is connected to couchbase"
Hi,
How to check if dcp client is connected to couchbase ?
Thanks in advance

[2016-09-26 11:46] belaazim opened #13 "start two dcp client at same time"
Hi,
My use case is about starting two dcp clients at the same time:
I'm getting this issue:
java.lang.IllegalStateException: Unhandled Status: 2
    at com.couchbase.client.dcp.conductor.DcpChannel.filterOpenStreamResponse(DcpChannel.java:164)
Any idea about this please ?

[2016-09-28 21:57] avsej commented on #10
Issue with rollbacks has been fixed in https://github.com/couchbaselabs/java-dcp-client/commit/24c54ffac149b43076d3402a5a235bf5e63ceecc

@belaazim you can rebuild snapshot from master and check

[2016-09-29 10:03] belaazim commented on #10
@avsej : I tested this fix and it is Ok.
Thanks !
When do you plan to provide a release 0.4.0 ?

[2016-09-29 10:06] daschl commented on #10
0.4.0 already released! (maven central may need a bit of time to sync)

[2016-09-29 10:11] #10 closed, assigned to nobody

[2016-09-29 10:12] daschl commented on #6
@belaazim does this also work as expected with 0.4 or is there still an issue?

[2016-09-29 20:21] belaazim commented on #13
@daschl @avsej : Did you reproduce this issue ?

[2016-09-29 20:34] avsej commented on #13
Could you share the test code, how do you initialize and run those clients?

[2016-09-29 20:53] belaazim commented on #13
launch in parallel 2 clietns.
1. the first client from begining to no end
2. the second client from now to no end
Random issue reported in my previous message

[2016-09-30 06:57] belaazim commented on #13
This is more log:
2016-09-29 18:38:23,251 [WARN, Conductor 165] Error during Partition Move for partition 420
java.lang.IllegalStateException: Unhandled Status: 2
    at com.couchbase.client.dcp.conductor.DcpChannel.filterOpenStreamResponse(DcpChannel.java:164)
    at com.couchbase.client.dcp.conductor.DcpChannel.access$000(DcpChannel.java:61)
    at com.couchbase.client.dcp.conductor.DcpChannel$2

[2016-10-10 10:24] belaazim commented on #6
@daschl sorry for the late of my answer.
I tested with a quick example it seems OK with 0.4 version.

[2016-10-10 10:25] belaazim commented on #13
@daschl @avsej : did you succeed in producing this issue ?

[2016-10-11 13:59] belaazim opened #18 "Error during partition move"
Hi,
An error occurs in random way.  Any idea please ?
This is the log :
2016-10-11 10:48:57,610 [WARN, Conductor 165] Error during Partition Move for partition 341
java.lang.IllegalStateException: Unhandled Status: 34
    at com.couchbase.client.dcp.conductor.DcpChannel.filterOpenStreamResponse(DcpChannel.java:164)
    at com.couchbase.client.dcp.conductor.DcpChannel.access$000(DcpChannel.java:61)

[2016-10-13 10:24] belaazim commented on #18
@daschl: any idea about this ?

[2016-10-13 10:29] daschl commented on #18
@avsej maybe?

[2016-10-13 10:45] belaazim commented on #18
at least how to manage this exception in case it occurs ?
Thanks in advance :)

[2016-10-19 15:24] belaazim opened #24 "tomcat clearReferencesThreads fails cause of not stopped DCP threads"
Hi,
I'm getting a list of issues while shutdowing my web application using DCP clients.
@daschl  : Any idea about this please ?

oct. 19, 2016 4:10:57 PM org.apache.catalina.loader.WebappClassLoaderBase clearReferencesThreads
GRAVE: The web application [/hello] **appears to have started a thread named [Thread-2] but has failed to stop it. This is very likely to create a memory leak**.
oct. 19, 201

[2016-10-19 16:00] daschl commented on #24
how are you performing the shutdown of the sdk?

[2016-10-19 16:04] belaazim commented on #24
in this way :
bucket.disconnect();
cluster.disconnect();
envCouchbase.shutdownAsync().toBlocking().single();
Schedulers.shutdown();
is something missing or incorrect ?

[2016-10-19 16:59] avsej commented on #24
do you call disconnect on the `Client` object?
https://github.com/couchbaselabs/java-dcp-client/blob/7231584d9247f40af1c27d84d22bda4b6ae6cbc1/src/main/java/com/couchbase/client/dcp/Client.java#L299-L309

[2016-10-19 17:06] avsej commented on #18
This code is intended to be handled by the library, and it is definitely issue of the client. It requested the sequence numbers of vbucket, which haven't seen it yet. I've converted it to the ticket https://issues.couchbase.com/browse/JDCP-29 and we will fix it there.

[2016-10-19 17:06] #18 closed, assigned to nobody

[2016-10-19 17:12] avsej commented on #11
Could you describe your use case in more details? In which situation do you need this function?

[2016-10-19 17:12] #6 closed, assigned to nobody

[2016-10-20 07:27] belaazim commented on #24
yes, in this way:
client.stopStreaming().await();
client.disconnect().await();

[2016-10-20 10:37] belaazim commented on #24
Hi,
I find it :)
It misses for sdk shutdown:  LatencyStats.getDefaultPauseDetector().shutdown();

[2016-10-20 11:51] daschl commented on #24
on which SDK version are you on? (java-client). we fixed a leak in a recent version

[2016-10-20 12:54] belaazim commented on #24
I'm using 2.3.3 java-client (with DCP client version 0.4.0)

[2016-10-20 14:38] daschl commented on #24
@belaazim JVMCBC-368 got fixe din 2.3.4, can you try that one? Also dcp-client is now on 0.6.0, but if you pick it up make sure to acknowledge the snapshot marker on the control handler if you are using the buffering.

[2016-10-21 11:38] belaazim commented on #24
how to use the buffering ? in which case ?
How to make sure to acknowledge the snapshot ?

[2016-10-21 15:00] belaazim opened #25 "connect to client fails"
Hi,
While trying to reconnect to my client after disconnect
No progress then is done and no connection is established just one message **Connecting to seed nodes and bootstrapping bucket test**

(FYI, I used 0.6.0 client version)

[2016-10-22 08:15] daschl commented on #24
@belaazim https://github.com/couchbaselabs/java-dcp-client/blob/master/README.md#flow-control

[2016-10-22 08:16] daschl commented on #25
can you please share more info, like code to reproduce and logs? thanks!

[2016-11-18 09:54] belaazim opened #29 "Specific scenario for persisted State"
Hello,

I'm defining a specific scenario using persisted State feature.

The steps of this scenarios are:
1. client.recoverOrInitializeState(StateFormat.JSON, persisted, **StreamFrom.BEGINNING**, **StreamTo.NOW)**.await();
2. wait until state is ended
2. persist state on a file
3. some instructions on previously received messages .....
4.  client.recoverOrInitializeState(StateFormat.JSON, persiste

[2017-02-06 12:24] belaazim opened #31 "IllegalStateException: Unhandled Status: 2"
Hi,

Have you please an idea about this exception :

Caused by: java.lang.IllegalStateException: Unhandled Status: 2
	at com.couchbase.client.dcp.conductor.DcpChannel.filterOpenStreamResponse(DcpChannel.java:164)
	at com.couchbase.client.dcp.conductor.DcpChannel.access$000(DcpChannel.java:61)
	at com.couchbase.client.dcp.conductor.DcpChannel$2.call(DcpChannel.java:109)
	at com.couchbase.client.dcp

[2017-02-06 16:12] avsej commented on #31
Could you please open the ticket through Jira? https://issues.couchbase.com/projects/JDCP

Thank you

[2017-02-07 12:43] belaazim commented on #31
I'm not a couchbase member. Could you please add it on the JIRA and share the jira link to follow the status of this issue ?
Thanks in advance

[2017-02-07 12:47] belaazim commented on #29
@avsej  @daschl

I'm coming back with a code example to produce the error: (tested with 0.7.0 dcp client version)

[code]

[2017-02-07 13:23] belaazim commented on #29
The code example above:
* start streaming from begining to now ( use the default bucket)
=> Mutation messages are displayed
* once we got end state of previous session ; we **persiste** the state on a file.
* stop streaming ; disconnect client
* insert/update a doc with key **"Test-CB"** on default bucket
* start streaming from persisted state to no end
=> Expected result :  Mutation message about

[2017-02-08 15:25] belaazim commented on #29
@avsej @daschl : could you please try the code above and check how it could be fixed to get expected results ?
Thanks in advance,

[2017-02-08 17:45] avsej commented on #29
Thanks @belaazim, I will try and get back here

[2017-02-09 10:54] belaazim opened #32 "A question about Dcp Messages"
Hi
could you please share more details about Dcp Messages when they occurs exactly :
1. DcpDeletionMessage : when a document is deleted
2. DcpExpirationMessage : ??
3. DcpMutationMessage : when a document is updated
4. DcpSnapshotMarkerMessage: ??
5. DcpStateVbucketStateMessage: ??
6. DcpStreamEndMessage ??

Thanks in advance,

[2017-02-16 00:51] nnanda2016 commented on #32
In CB, you can create a document with a TTL (Time to Live). Once TTL expires the document is removed automatically by CB. This is when `DcpExpirationMessage` event is produced.

`DcpMutationMessage` is for both create and update scenario.

I am not sure about others. However, I am interested to know about those. The API Doc does not talk much.

[2017-02-20 16:48] belaazim commented on #29
any news ? did you succeed to reproduce the problem.

[2017-02-22 16:05] avsej commented on #32
Currently server does not send expiration message, so in this case it will be still [Deletion message](https://github.com/couchbaselabs/dcp-documentation/blob/master/documentation/commands/deletion.md). [Snapshot message](https://github.com/couchbaselabs/dcp-documentation/blob/master/documentation/commands/snapshot-marker.md) needed to notify about snapshot boundaries before transferring the snaps

[2017-02-23 11:58] belaazim commented on #32
Thanks for these details @nnanda2016  and @avsej

[2017-02-23 11:58] #32 closed, assigned to nobody

[2017-02-23 12:01] #25 closed, assigned to nobody

[2017-02-23 12:01] belaazim commented on #24
Thanks @daschl

[2017-02-23 12:01] #24 closed, assigned to nobody

[2017-02-23 12:02] belaazim commented on #11
No more need for this use case.
Thanks @avsej

[2017-02-23 12:02] #11 closed, assigned to nobody

[2017-02-23 12:03] belaazim commented on #13
An other issue opened with the log of this random issue.

[2017-02-23 12:03] #13 closed, assigned to nobody

[2017-02-27 18:59] ingenthr commented on #29
Just to update you @belaazim, @avsej talked about this in a review earlier this morning.  We believe the problem comes about because we're missing the storage of some state info in the `sessionState`.  It's an acknowledged issue.  The bug slipped through as we handle state management differently in some of the higher level frameworks say with the Kafka Connector.

[2017-03-09 09:04] belaazim commented on #29
Hi all,
@ingenthr , @avsej  Thanks for the explanation and the time you provide for this issue.
Do you have please any news about it ?
Best regards,
Maherzia

[2017-03-22 01:03] Maxdamantus opened #33 "System event messages dropped through default EventBus"
By default, `ClientEnvironment` constructs a `DefaultEventBus` (from couchbase-jvm-core) object to wrap around the subject used for system messages (passed to the library user using the `systemEventHandler` callback). `DefaultEventBus.get()` uses `.onBackpressureDrop()` to avoid backpressure situations, which doesn't seem desirable here; it should not drop things like `StreamEndEvent`s which will

[2017-03-22 05:13] avsej commented on #33
Moved to issue tracker: https://issues.couchbase.com/browse/JDCP-48

[2017-03-22 05:13] #33 closed, assigned to nobody

[2017-04-04 07:05] belaazim commented on #31
Hi
@avsej : Any news please about this bug ?
It is random and once it occurs it causes the skip of mutation messages.
Thanks in advance

[2017-04-06 21:41] dak369 opened #35 "Partitions initialized with StreamTo.INFINITY are skipped"
In the commit date March 23, 2017, in the selectInitializedPartitions method this comparison was added: ps.getStartSeqno >= ps.getEndSeqno to detect uninitialized partitions. The value for EndSeqno when initialized with StreamTo.INFINITY is -1, and then this comparison fails and the partition is considered uninitialized. Thanks!

[2017-04-07 06:00] avsej commented on #35
Thank you for report. I've moved it to issue tracker: https://issues.couchbase.com/browse/JDCP-53

[2017-04-07 06:00] #35 closed, assigned to nobody

[2017-04-17 17:32] PrasadPereraAzzimov opened #37 "No Streams are opened to the buckets"
Hello,
I have started using the java-dcp-client and when I try the sample code, I get this message when I'm connecting and streaming the cb buckets

INFO  com.couchbase.client.dcp.Client - The configured session state does not require any streams to be opened. Completing immediately.

When I looked into the Client, it seems we check if the start seq >= to end seq number before we initialise the pa

[2017-04-24 13:21] #37 closed, assigned to nobody

[2017-05-05 17:48] sderosiaux opened #39 "client.initializeState().await() never returns"
Hello,

I have an application relying on DCP. It's working with my staging couchbase cluster, but not my production's one (4.5.0-2601). `client.initializeState(..).await()` just never returns.

Digging a bit, I found that an exception is thrown internally. In `DcpChannel`, an Observable is getting the exception but does nothing with it:
[code]

The exception is `java.lang.IndexOutOfBoundsException

[2017-05-05 18:01] sderosiaux commented on #39
Ok, I built a local `"0.10.0-SNAPSHOT"` version and ... it's working with it.

I saw the code changed quite a lot and the event handler interface also, just some minor adjustements has to be made. Anyway, thanks, I'm closing the issue.

[2017-05-05 18:01] #39 closed, assigned to nobody

[2017-05-10 12:44] igreenfield opened #40 "With latest release I do not get any messages"
I see in log:
INFO:  The configured session state does not require any streams to be opened. Completing immediately.

[2017-05-10 12:59] abrandwi commented on #40
+1

[2017-05-10 13:03] igreenfield commented on #40
Seems like you have bug in this code:

SessionState.java
[code]
and here:
Client.java:

[code]

[2017-05-10 13:32] abrandwi opened #41 "DCP client is missing updates on docs"
Hi,
We observed an intermittent issue with DCP connection in our tests - sometimes we don't get all updates on doc changes.
Our system test environment consists of many microservices deployed as docker containers. The storage is provided by couchbase version 4.6, also deployed as a docker container, no replication. All the containers are deployed on a single Linux Centos7 VM. Using java-dcp-client

[2017-05-10 15:33] avsej commented on #40
Have you tried the recent master?
We had a bug, and it was fixed in https://github.com/couchbaselabs/java-dcp-client/commit/abea3e813aff836c7d721b3c102a8ad93e9460ac

[2017-05-11 05:22] igreenfield commented on #40
@avsej I check the Master branch and it works. So why you don't release a new version? this is Showstoper BUG.

[2017-05-11 12:02] abrandwi commented on #40
Please release a new version with fix ASAP

[2017-05-11 13:37] avsej commented on #40
0.10.0 has been released and accessible in maven

[2017-05-11 13:37] #40 closed, assigned to nobody

[2017-05-11 13:39] avsej commented on #40
btw I would be glad if you will use our issue tracker to report the problems, as github is only our source repository.

[2017-05-14 13:17] zzvara commented on #31
I've got the same problem here, while reading two couchbaseStreams in Spark.

[2017-05-15 11:50] abrandwi commented on #31
I got this exception too:
[code]

And before that:
[code]

What does it mean?

[2017-05-15 12:27] abrandwi commented on #41
UPDATE:
Using latest java-dcp-client 0.10.0
After a while again some updates did not arrive to client.

From couchbase logs:
[code]

Client logs:
[code]

After this stack trace data started to arrive from dcp but some date was lost.
@avsej can you please help?

[2017-06-15 12:57] belaazim opened #45 "client.connect().await() never returns"
Hi,
client.connect().await() never returns and keep blocked.
Have you please in idea in which case this could be happen ?

[2017-06-19 10:06] ma-hack commented on #41
I have the same problem. Have you found a solution?

[2017-06-19 10:10] abrandwi commented on #41
The dcp team is working on a fix. Track it here:
https://issues.couchbase.com/browse/JDCP-56

[2017-06-28 09:24] belaazim commented on #29
Hi all,
@ingenthr , @avsej, @daschl : any updates please about this issue ?
saving/restarting from a specific state is critical for our application.
Thanks for your help

[2017-08-08 21:55] dnault commented on #45
Unfortunately I'm unable to answer your question; there's not enough information here to determine the cause of the problem.

For assistance using the DCP client, I would refer you to the Couchbase forums at https://forums.couchbase.com

If you believe you have discovered a bug in this library, please file an issue on the Couchbase Jira at https://issues.couchbase.com/projects/JDCP/ including a sm

[2017-08-08 21:55] #45 closed, assigned to nobody

[2017-08-08 21:59] dnault commented on #41
The java-dcp-client project is being promoted from couchbaselabs to the primary couchbase org. As part of this change, issues reported via GitHub are being migrated to the Couchbase Jira.

To track the progress of this issue, please follow https://issues.couchbase.com/browse/JDCP-56

[2017-08-08 22:06] dnault commented on #31
The java-dcp-client project is being promoted from couchbaselabs to the primary couchbase org. As part of this change, issues reported via GitHub are being migrated to the Couchbase Jira.

To track the progress of this issue, please follow https://issues.couchbase.com/browse/JDCP-58

[2017-08-08 22:15] dnault commented on #29
The java-dcp-client project is being promoted from couchbaselabs to the primary couchbase org. As part of this change, issues reported via GitHub are being migrated to the Couchbase Jira.

To track the progress of this issue, please follow https://issues.couchbase.com/browse/JDCP-59

[2017-08-08 23:19] #41 closed, assigned to nobody

[2017-08-08 23:19] #31 closed, assigned to nobody

[2017-08-08 23:19] #29 closed, assigned to nobody